build
node_modules
.vscode
package-lock.json
package.json
tsconfig.json
logs
data.ms
meilli
scripts
*.db
*.exe
state.json
test
assets/song_img/*
!assets/song_img/Doom.jpg
assets/img/*
!assets/img/Doom.jpg
settings.json
go.mod
go.sum
